{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'recipes/style.css' %}" />

<h1>Nový kuchař</h1>
{% block content %}
<form method="POST" class="form">
    {% csrf_token %}
    <input type="text" id="name" name="name" placeholder="Jméno kuchaře"  /><br />
    <input type="number" min="10" max="110" id="age" name="age" placeholder="Věk" /><br />
     Experience: <select name="experience">
        <option value="Beginner">Beginner</option>
        <option value="Advanced">Advanced</option>
        <option value="Expert">Expert</option>
        <option value="Magical">Magical</option>
    </select><br /> <br />
    <input type="submit" value="Přidate kuchaře">
</form>
{% endblock %}

<h4><a href="{% url 'index' %}">Zpět na hlavní stránku</a></h4>